<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>プロフィール変更</title>
    <script th:each="student : ${student}" th:inline="javascript">const qualification = [],stindustry = [[${student.industry}]],classname = [[${student.className}]]</script>
    <script th:each="qualification : ${qualification}" th:inline="javascript">
        qualification.push([[${qualification.qualification}]])
    </script>
</head>
<body>

<form th:action="@{/student/ProfileChange}" method="post" onsubmit="return SendProfile()">
<p>どちらを変更しますか</p>
<label><input type="radio" name="pro" value="希望職種">希望職種</label>
<label><input type="radio" name="pro" value="取得資格">取得資格</label>
<div id="changeprofile"></div>
</form>
<button onclick="location.href='/'">ホームへ</button>

<script>
    const docpro = document.getElementsByName('pro'), docchan = document.getElementById('changeprofile'), industrySel = ['システム運用系','システム開発系','ゲーム系','営業・事務・販売系','製造系','その他'], qualificationSel = ['ITパスポート','情報セキュリティマネジメント','基本情報技術者','応用情報技術者','データベーススペシャリスト','ネットワークスペシャリスト','情報処理安全確保支援士','エンベデッドシステムスペシャリスト','マイクロソフトオフィススペシャリスト（MOS）','Oracle Master','シスコ技術者認定試験','CompTIA Network+','SEA/J','Python エンジニア認定試験','CGクリエイター検定','CGエンジニア検定','情報検定（J検）','画像処理エンジニア検定','ビジネス能力検定（B検）ジョブパス','秘書技能検定','日商簿記検定','その他']
    let sendprofile = 1
    docpro[0].addEventListener('change', SyokuChange)
    docpro[1].addEventListener('change', SikakuChange)
    function SyokuChange() {
        sendprofile = 1
        let str = '<p>現在の希望職種：' + stindustry + '</p>',j
        for (let i = 0; industrySel.length > i; i++) {
            str += '<label><input type="radio" name="sendtext" value="' + industrySel[i] + '">' + industrySel[i] + '<br></label>'
            j = industrySel[i] === stindustry ? i : 0
        }
        docchan.innerHTML = str + '<input type="submit" value="変更">'
        document.getElementsByName('sendtext')[j].checked = true
    }
    function SikakuChange() {
        let str = '<p>現在取得している資格：</p><table><tr>',boolean = true
        for (let i = 0; qualification.length > i; i++) str += '<td>' + qualification[i] + '</td><td><button name="delete" value="' + qualification[i] + '">削除</button></td></tr>'
        str += '</table><p>新しく取得した資格を選んでください</p><select name="newqualification">'
        for (let i = 0; qualificationSel.length - 1 > i; i++) {
            for (let j = 0; qualification.length > j; j++) {
                if (qualificationSel[i] === qualification[j]) {
                    boolean = false
                    break
                }
            }
            str += boolean ? '<option value="' + qualificationSel[i] + '">' + qualificationSel[i] + '</option>' : boolean = true
        }
        docchan.innerHTML = str + '<option value="' + qualificationSel[qualificationSel.length - 1] + '">' + qualificationSel[qualificationSel.length - 1] + '</option></select><div id="detailqualification"></div><input type="submit" value="変更">'
        const element = document.getElementsByName('newqualification')
        NewQualification()
        element[0].addEventListener('change', NewQualification)
        function NewQualification() {
            let doc = document.getElementById('detailqualification')
            switch (element[0].value) {
                case 'ビジネス能力検定（B検）ジョブパス':
                case '日商簿記検定':
                    sendprofile = 2
                    doc.innerHTML = '<select name="detapro"><option value="1級">1級</option><option value="2級">2級</option><option value="3級">3級</option>'
                    break
                case 'その他':
                    sendprofile = 3
                    doc.innerHTML = '<label>取得した資格を記入してください：<input type="text" name="detapro" placeholder="記入してください"></label>'
                    break
                default:
                    sendprofile = 4
                    doc.innerHTML = ''
                    break
            }
        }
    }
    function SendProfile() {
        const doc = document.getElementById('changeprofile'),
            detapro = document.getElementsByName('detapro'),
            a = document.getElementsByName('newqualification')
        switch (sendprofile) {
            case 1:
                doc.insertAdjacentHTML('afterend','<textarea name="className" style="display: none">' + classname + '</textarea>')
                break
            case 2:
                doc.insertAdjacentHTML('afterend','<textarea name="sendtext" style="display: none">' + a[0].value + detapro[0].value + '</textarea>')
                break
            case 3:
                doc.insertAdjacentHTML('afterend','<textarea name="sendtext" style="display: none">' + detapro[0].value + '</textarea>')
                break
            case 4:
                doc.insertAdjacentHTML('afterend','<textarea name="sendtext" style="display: none">' + a[0].value + '</textarea>')
                break
        }
    }
</script>
</body>
</html>