<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:inline="javascript">
        const stuid = [[${stu}]],
            stupro = [[${pro}]],
            quaid = [],
            quaqua = [],
            exstuid = [],
            exstucom = [],
            info = [],
            comname = [],
            compro = []
    </script>
    <script th:each="qua : ${qua}" th:inline="javascript">
    quaid.push([[${qua.username}]])
    quaqua.push([[${qua.qualification}]])
    </script>
    <script th:each="exstu : ${exstu}" th:inline="javascript">
        exstuid.push([[${exstu.username}]])
        exstucom.push([[${exstu.companyname}]])
    </script>
    <script th:each="info : ${info}" th:inline="javascript">
        info.push([[${info.kName}]])
    </script>
    <script th:each="com : ${com}" th:inline="javascript">
        comname.push([[${com.companysname}]])
        compro.push([[${com.industry}]])
    </script>
    <title>おすすめ企業</title>
</head>
<body>
<h1>おすすめ企業</h1>
<form th:action="@{/student/ISSearchByCompany}" method="get">
<p>説明会予約受付中のおすすめ企業</p>
<div id="RecommendationSetumeikai"></div>
<br>
<p>希望職種にあった企業</p>
<div id="RecommendationKibou"></div>
<br>
<p>自分と似た資格を取得している先輩が就職した企業</p>
<div id="RecommendationSikaku"></div>
<br>
<p>前年度の内定者が多い企業</p>
<div id="RecommendationNaiteisya"></div>
<br>
<button onclick="location.href='/'">ホームへ</button>
</form>
<script>
// 取得資格の振り分け
    let stuqua = [], exstuqua = [], setumeikai = [], naiteisya = [], sikaku = [], kibou = []
    for (let i = 0; quaid.length > i; i++) {
        let boolean = true, j = 0
        while(boolean && exstuid.length > j) {
            switch (quaid[i]) {
                case stuid:
                    stuqua.push(quaqua[i])
                    boolean = false
                    break
                case exstuid[j]:
                    const a = []
                    a.push(exstuid[j])
                    a.push(quaqua[i])
                    exstuqua.push(a)
                    boolean = false
                    break
            }
            j++
        }}

//前年度の内定者によるおすすめ選定
    for (let i = 0; exstuid.length > i; i++) {
        let j = 0, boolean = true
        while (naiteisya.length > j && boolean) {
            if (exstucom[i] === naiteisya[j][0]) {
                naiteisya[j][1]++
                boolean = false
            }
            j++
        }
        if (boolean) {
            let a = [];
            a.push(exstucom[i]);
            a.push(1);
            naiteisya.push(a);
        }
    }
    narabikae(naiteisya)


//資格取得によるおすすめ選定
    for (let i = 0; exstuid.length > i; i++) {
        let excount = 1, stcount = stuqua.length, itticount = 1
        for (let j = 0; exstuqua.length > j; j++) {
            if (exstuid[i] === exstuqua[j][0]) {
                let boolean = true
                for (let k = 0; stuqua.length > k; k++) {
                    if (exstuqua[j][1] === stuqua[k]) {
                        itticount++
                        boolean = false
                        break
                    }
                }
                if (boolean) excount++
            }
        }
        const a = []
        a.push(exstucom[i]);
        a.push(Math.round(itticount / (excount + stcount) * 100))
        // if (a[1] > 29)sikaku.push(a)
        sikaku.push(a)
    }
    narabikae(sikaku)

//希望職種によるおすすめ選定
    for (let i = 0; compro.length > i; i++) {
        if (compro[i] === stupro) {
            let a = []
            a.push(comname[i])
            a.push(stupro)
            kibou.push(a)
        }
    }

//おすすめ企業の説明会の有無
    infocheck(kibou,'希望職種より')
    infocheck(naiteisya,'前年度の内定者数より')
    infocheck(sikaku,'似た資格を取得した内定者より')

    function infocheck(table, str) {
        for (let i = 0; table.length > i; i++) {
            for (let j = 0; info.length > j; j++) {
                if (table[i][0] === info[j]) {
                    let boolean = true
                    for (let k = 0; setumeikai.length > k; k++) {
                        if (table[i][0] === setumeikai[k][0]) {
                            boolean = false
                            setumeikai[k][1] += ',' + str
                            break
                        }
                    }
                    if (boolean) {
                        let a = [];
                        a.push(table[i][0]);
                        a.push(str);
                        setumeikai.push(a);
                    }
                    let a = table[i]
                    a.push(true)
                    table[i] = a
                    break
                }}}}

//並び替え(昇順)
    function narabikae(table){
        for (let i = 0; table.length > i; i++) {
            for (let j = i + 1; table.length > j; j++) {
                if (table[i][1] < table[j][1]) {
                    let a = table[i]
                    table[i] = table[j]
                    table[j] = a
                }}}}

//表示
    let setunum = 0, kibonum = 0, nainum = 0, sikanum = 0
    RecommendationTableSetu(0)
    RecommendationTableKibou(0)
    RecommendationTableNai(0)
    RecommendationTableSika(0)

    function RecommendationTableSetu(num) {
        let strCom = '<tr>', strRea = '<tr>' ,strInfo = '<tr>', strButton = '', nextbutton = '<button onclick="RecommendationTableSetu(3)">次へ</button>',backbutton = '<button onclick="RecommendationTableSetu(-3)">前へ</button>'
        const element = document.getElementById('RecommendationSetumeikai')
        setunum += num
        for (let i = setunum; 3 + setunum > i; i++) {
            if (setumeikai.length > i) {
                strCom += '<td>' + setumeikai[i][0] + '</td>'
                    const a = setumeikai[i][1].split(',')
                    strRea += '<td>'
                    for (let i = 0; a.length > i; i++) strRea += a[i] + '<br>'
                    strRea += '</td>'
                strInfo += '<td><button type="submit" name="kName" value="' + setumeikai[i][0] + '">' + setumeikai[i][0] + 'の予約へ</button></td>'
            }else strCom += '<td>これ以上おすすめ企業はありません</td>'
        }
        strButton += setunum !== 0 ? backbutton:''
        strButton += setumeikai.length > setunum + 3 ? nextbutton:''
        element.innerHTML = '<table>' + strCom + '</tr>' + strRea + '</tr>' + strInfo + '</tr></table>'
        element.insertAdjacentHTML("beforeend", strButton)
    }


    function RecommendationTableKibou(num) {
        let strCom = '<tr>', strRea = '<tr>' ,strInfo = '<tr>', strButton = '', nextbutton = '<button onclick="RecommendationTableKibou(3)">次へ</button>',backbutton = '<button onclick="RecommendationTableKibou(-3)">前へ</button>'
        const element = document.getElementById('RecommendationKibou')
        kibonum += num
        for (let i = kibonum; 3 + kibonum > i; i++) {
            if (kibou.length > i) {
                strCom += '<td>' + kibou[i][0] + '</td>'
                strRea += '<td>職種：' + kibou[i][1] + '</td>'
                if (kibou[i][2]) strInfo += '<td><button type="submit" name="kName" value="' + kibou[i][0] + '">' + kibou[i][0] + 'の予約へ</button></td>'
                else strInfo += '<td>現在説明会の予約はありません</td>'
            }else strCom += '<td>これ以上おすすめ企業はありません</td>'
        }
        strButton += kibonum !== 0 ? backbutton:''
        strButton += kibou.length > kibonum + 3 ? nextbutton:''
        element.innerHTML = '<table>' + strCom + '</tr>' + strRea + '</tr>' + strInfo + '</tr></table>'
        element.insertAdjacentHTML('beforeend', strButton)
    }

    function RecommendationTableNai(num) {
        let strCom = '<tr>', strRea = '<tr>' ,strInfo = '<tr>', strButton = '', nextbutton = '<button onclick="RecommendationTableNai(3)">次へ</button>',backbutton = '<button onclick="RecommendationTableNai(-3)">前へ</button>'
        const element = document.getElementById('RecommendationNaiteisya')
        nainum += num
        for (let i = nainum; 3 + nainum > i; i++) {
            if (naiteisya.length > i) {
                strCom += '<td>' + naiteisya[i][0] + '</td>'
                strRea += '<td>前年度内定者数：' + naiteisya[i][1] + '人</td>'
                if (naiteisya[i][2]) strInfo += '<td><button type="submit" name="kName" value="' + naiteisya[i][0] + '">' + naiteisya[i][0] + 'の予約へ</button></td>'
                else strInfo += '<td>現在説明会の予約はありません</td>'
            }else strCom += '<td>これ以上おすすめ企業はありません</td>'
        }
        strButton += nainum !== 0 ? backbutton:''
        strButton += naiteisya.length > nainum + 3 ? nextbutton:''
        element.innerHTML = '<table>' + strCom + '</tr>' + strRea + '</tr>' + strInfo + '</tr></table>'
        element.insertAdjacentHTML('beforeend', strButton)
    }

    function RecommendationTableSika(num) {
        let strCom = '<tr>', strRea = '<tr>' ,strInfo = '<tr>', strButton = '', nextbutton = '<button onclick="RecommendationTableSika(3)">次へ</button>',backbutton = '<button onclick="RecommendationTableSika(-3)">前へ</button>'
        const element = document.getElementById('RecommendationSikaku')
        sikanum += num
        for (let i = sikanum; 3 + sikanum > i; i++) {
            if (sikaku.length > i) {
                strCom += '<td>' + sikaku[i][0] + '</td>'
                strRea += '<td>資格一致率：' + sikaku[i][1] + '%</td>'
                if (sikaku[i][2]) strInfo += '<td><button type="submit" name="kName" value="' + sikaku[i][0] + '">' + sikaku[i][0] + 'の予約へ</button></td>'
                else strInfo += '<td>現在説明会の予約はありません</td>'
            }else strCom += '<td>これ以上おすすめ企業はありません</td>'
        }
        strButton += sikanum !== 0 ? backbutton:''
        strButton += sikaku.length > sikanum + 3 ? nextbutton:''
        element.innerHTML = '<table>' + strCom + '</tr>' + strRea + '</tr>' + strInfo + '</tr></table>'
        element.insertAdjacentHTML('beforeend', strButton)
    }
</script>

</body>
</html>